@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing:border-box;
    color:black;
    margin:0;
    padding:0;
    font-family: 'Barlow', sans-serif;
}

main{
    background-color: var(--md-sys-color-background)
}

/*****Header and Nav****/
.nav{
    height:10%;
    background-color: var(--md-sys-color-primary);
    padding: 10px;
}

.Logo{
    background-color: var(--md-sys-color-primary);
    padding: 10px;
    padding-top:20vh;
    color: var(--md-sys-color-on-primary);
    font-weight:500;
    font-size: 40px;
}
.sublogo{
    font-size: 15px;
    font-weight:400;
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    padding: 2%;
}

.subtext{
    font-weight:400;
    font-size: 15px;
    padding:8% 5%;
    text-align:center;
    color: var(--md-sys-color-on-background)
}


/**HomePage**/
.home-sample{
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    text-align:center;
    height: fit-content;
    width: 60vw;
    margin: 0 auto;
    margin-bottom:50px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px var(--md-sys-color-secondary);
}

.home-sample h2{
    font-weight:300;
    width:75%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    color:var(--md-sys-color-on-surface)
}

.sample-list, .sample-list h6{
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sample-list{
    padding:10px 10px 1px 10px;

}

.item{
    height:30vh;
    min-height: fit-content;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius:5px;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

.item-title{
    grid-column: 1 / span 2;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    padding:4px;
    font-size: .8em;
    border-radius:3px;
    
}
.item-release, .item-runtime, .item-rating, .item-genre{
    grid-column: 1/span 1;
    font-size: .7em;
    color: var(--md-sys-color-on-surface-variant)
}
.poster-container{
    grid-column: 3/ span 1;
    grid-row: 1 /span 6;
    border-radius: 3px;
    margin: 0 auto;
    border: 2px solid var(--md-sys-color-secondary);
    overflow:hidden;
    background-color:var(--md-sys-color-secondary);
}

.poster{
    width:100%;
}

.item-personal{
    font-size: .7em;
    text-align:center;
    line-height:1.5em;
    padding: 2px;
    padding-top:6px;
    margin-bottom:10px;
    border-radius:3px;
    grid-column: 2/span 1;
    grid-row: 2/span 5;
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface-variant);
}

.emoji{
    font-size:20px;
    background-color:transparent;
}


/***FOOTER***/
.footer-container{
    height: fit-content;
    background-color: var(--md-sys-color-surface-variant);
    font-weight: 800;
    padding:4px;
    letter-spacing:.1em;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-align:center;
}

.footer-container span{
    font-size:30%;
}

.tmdb_logo{
    margin: 0 auto;
    
    width:40%;
}

.connect-footer a{
    padding:10px;
}

/****adjustments for later***/
/*adjust the width of the item to be 95% for smalll windows*/