@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing:border-box;
    color:black;
    margin:0;
    padding:0;
    font-family: 'Barlow', sans-serif;
}



/*****Header and Nav****/
.nav{
    height:10%;
    background-color: var(--md-sys-color-primary);
    padding: 2%;
}

.Logo{
    background-color: var(--md-sys-color-primary);
    padding: 2%;
    padding-top:40%;
    color: var(--md-sys-color-on-primary);
    font-weight:500;
    font-size: 40px;
}
.sublogo{
    font-size: 15px;
    font-weight:400;
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    padding: 2%;
}

.subtext{
    font-weight:400;
    font-size: 15px;
    padding:8% 5%;
    text-align:center;
}


/**HomePage**/
.home-sample{
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    text-align:center;
    height: fit-content;
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;
}

.home-sample h2{
    font-weight:300;
    width:75%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.sample-list{
    background-color: var(--md-sys-color-surface-variant);
    text-align: left;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item{
    height: 6em;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius:5px;
    background-color: var(--md-sys-color-surface);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    padding: 3px;
}

.item-title{
    grid-column: 1 / span 2;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    padding:2px;
    font-size: .8em;
    border-radius:3px;
    margin: 1px;
}
.item-release, .item-runtime, .item-rating, .item-genre{
    grid-column: 1/span 1;
    font-size: .5em;
}

.item-personal{
    font-size: .5em;
    text-align:center;
    padding:5px;
    border-radius:2px;
    grid-column: 2/span 1;
    grid-row: 2/span 6;
    background-color: var(--md-sys-color-surface-variant);;
}
